[submodule "static/lib/three.js"]
	path = static/lib/three.js
	url = https://github.com/mrdoob/three.js
[submodule "game/templates/BizzawayGame"]
	path = game/templates/BizzawayGame
	url = https://github.com/Dooklin/BizzawayGame
