{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Hub</title>

    <style>
        html, body {
           margin: 0;
           height: 100%;
        }
        canvas {
           width: 100%;
           height: 100%;
           display: block;
        }
        </style>
</head>
<body>
    <script>
        alert("This is still under development...\nPress left and right arrow to select a game\nPress enter to play it")
    </script>
    <script type="module" src="{% static 'js/gamehub.js' %}"></script>
</body>
</html>