{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/out.css' %}">
</head>
<body class="bg-gray-100">

    <!-- The beautiful header  -->
    <header class="bg-blue-800 text-white p-4">
        <div class="flex justify-between items-center">
            <div class="text-2xl font-semibold">Welcome, {{ user.username }}</div>
            <div class="flex space-x-4">
                <a href="{% url 'index' 'en' %}">
                    <img src="{% static 'img/LOGO.png' %}" alt="Pizzaway-Logo" class="w-20 h-20">
                </a>
                <a href="{% url 'logout' %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 flex items-center justify-center">Sign Out</a>
            </div>
        </div>
    </header>

    <!-- and believe it or not this is where the "main" part of the page lives -->
    <main>
        <div class="flex min-h-screen">

            <!-- we got the sidebar -->
            <div class="w-1/4 p-4">
                <h2 class="text-xl font-semibold mb-4">Leaderboard</h2>
                <ul class="space-y-2">
                    {% for employee in employees|dictsortreversed:"orders_cooked" %}
                    <li class="flex justify-between items-center">
                        <span>{{ employee.user.username }}</span>
                        <span class="text-gray-300">{{ employee.orders_cooked }} orders cooked</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <!-- and the container where the order's will be put -->
            <div class="w-3/4 p-4 bg-white flex-grow">
                <h1 class="text-3xl font-semibold mb-4">Pending Orders</h1>
                <div class="overflow-y-auto">
                    <ul class="space-y-4" id="order_container">
                        

                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- sorry i had to put the js into the html because i need the cstf_token and form url to be resolved -->
    <script>
        //timestamp of the latest order we got
        let latest_timestamp = null;

        function append_order(customer, notes, pizzas, id) {
            //this put's the data from the arguments into the templates below
            //and we put it into our order container

            let pizza_list = "";
            pizzas.forEach(pizza => {
                pizza_list += `<li class="pizzalist" onclick="toggle_cross_out(this)">${pizza}</li>`
            });

            document.getElementById('order_container').innerHTML += `
                <li class="border rounded p-4 shadow-md">
                    <form action="{% url 'remove_order' 'en' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="${id}">
                    <input type="hidden" name="emp_id" value="{{ emp.id }}">
                    <h2 class="text-xl font-semibold">${customer}</h2>
                    <p class="text-gray-600">${notes}</p>
                    <ul class="list-disc pl-8">
                        ${pizza_list}
                    </ul>
                    <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
                        Mark as Finished
                    </button>
                    </form>
                </li>
            `;
        }

        function processData(data) {
            if (data.orders.length > 0) {
                latest_timestamp = data.latest_timestamp;

                //adds all the orders to the html
                data.orders.forEach(order => {
                    const customer = order.customer;
                    const notes = order.notes;
                    const pizzas = order.pizzas;
                    const id = order.id;
                    append_order(customer, notes, pizzas, id);
                });
                console.log("New orders!");
            } else {
                console.log("No new orders!");
            }
        }

        //crosses out pizzas if you click them
        function toggle_cross_out(element) {
            console.log(element.classList);
            element.classList.toggle("line-through")
        }

        //and this asks the server for new orders 
        function check() {
            fetch(`/mitarbeiter/latest_order/?timestamp=${latest_timestamp}`)
                .then(response => response.json())
                .then(data => { processData(data); })
                .catch(error => { console.error("Error: ", error); });
        }

        //we check one time in the beginning 
        check();
        //and then every 5 seconds 
        document.getElementsByTagName("body")[0].onload = () => {
            setInterval(check, 5000);
        }
    </script>
</body>
</html>
