{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Privacy Policy" %}{% endblock %}
{% block header %}{% translate "Privacy Policy" %}{% endblock %}

{% block content %}
<pre>
            <p class="font-semibold">{% translate "Privacy Policy" %}</p>

Wir verarbeiten Ihre personenbezogenen Daten, die unter folgende Datenkategorien fallen:

    • Name
    • E-Mail

Sie haben uns Daten über sich freiwillig zur Verfügung gestellt und wir verarbeiten diese Daten auf Grundlage Ihrer Einwilligung zu folgenden Zwecken:

    • Betreuung/Identifizierung des Kunden

Sie können diese Einwilligung jederzeit widerrufen.
Ein Widerruf hat zur Folge, dass wir Ihre Daten ab diesem Zeitpunkt zu oben genannten Zwecken nicht mehr verarbeiten.
Für einen Widerruf wenden Sie sich bitte an: Alexander.Fuchs@tfs-haslach.at, Elias.Schinkinger@tfs-haslach.at

Die von Ihnen bereit gestellten Daten sind weiters zur Vertragserfüllung bzw. zur Durchführung vorvertraglicher Maßnahmen erforderlich.
Ohne diese Daten können wir den Vertrag mit Ihnen nicht abschließen.

Wir speichern Ihre Daten bis Abholung der Bestellung

Sie erreichen uns unter folgenden Kontaktdaten: Alexander.Fuchs@tfs-haslach.at
                                                Elias.Schinkinger@tfs-haslach.at

Rechtsbehelfsbelehrung
Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit und Widerspruch zu.
Dafür wenden Sie sich an uns. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt
oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Datenschutzbehörde beschweren.
</pre>

{% endblock %}