{% load static %} <!-- This enables me to load static files -->
{% load i18n %}  <!-- For translations -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pizzaway{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'out.css' %}">
    {% block extra %}{% endblock %} <!-- if i need something in the head -->
</head>
<body class="flex flex-col gap-3 min-h-screen bg-light-pizza-yellow dark:bg-light-pizza-yellow-dark">

    <!-- The header oooh, who would have thought -->
    <header class="bg-pizza-red dark:bg-pizza-red-dark text-white rounded-t-lg flex flex-col md:flex-row justify-around items-center p-4">
        <a href="{% url 'index' language %}" class="h-full w-1/2 md:w-auto">
            <img src="{% static 'img/LOGO.png' %}" alt="Pizzaway-Logo" class="h-full w-full transition-transform transform hover:scale-105 md:scale-100">
        </a>
        <p class="text-xl md:text-2xl lg:text-3xl font-bold">{% block header %}{% translate "Welcome to our Pizzeria" %}{% endblock %}</p>
        <div class="flex space-x-4 mt-2 md:mt-0">
            <a href="{% url 'order' language %}" class="text-lg hover:underline transition duration-300 ease-in-out" id="orderlink">{% translate "Order" %}</a>
            <a href="{% url 'emp_index' %}" class="text-lg hover:underline transition duration-300 ease-in-out">{% translate "Employees" %}</a>
        </div>
    </header>

    <!-- so the main part that need to be extended is this -->
    <main class="flex flex-col flex-grow bg-pizza-yellow dark:bg-pizza-yellow-dark md:flex-row text-black dark:text-text-dark">
        {% block content %}{% endblock %}
    </main>

    <!-- and where my ladies and gentleman we have the footer with links to the not so important sites -->
    <footer class="bg-pizza-red dark:bg-pizza-red-dark text-white dark:text-text-dark rounded-b-lg sticky bottom-0 p-4 flex justify-center space-x-4">
        <a href="{% url 'contact' language %}" class="text-sm hover:underline transition duration-300 ease-in-out">{% translate "Contact" %}</a>
        <a href="{% url 'imprint' language %}" class="text-sm hover:underline transition duration-300 ease-in-out">{% translate "Imprint" %}</a>
        <a href="{% url 'privacy' language %}" class="text-sm hover:underline transition duration-300 ease-in-out">{% translate "Privacy Policy" %}</a>
    </footer>

    <script src="{% static 'block_order.js' %}"></script>
</body>
</html>