{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Imprint" %}{% endblock %}

{% block header %}{% translate "Imprint" %}{% endblock %}

{% block content %}

<pre>
• Firmawortlaut Pizzaway
• Unternehmensgegenstand Pizzeria 
• Firmensitz Sitz: 4170 Haslach
• volle geografische Anschrift Rohrbach Linzer-Straße 8 | Austria 
• Kontaktdaten (Tel, E-Mail) Tel: +43 XXX XXXX 
E-Mail: Alexander.Fuchs@tfs-haslach.at 
        Elias.Schinkinger@tfs-haslach.at
Sie können allfällige Beschwerde auch an 
die oben angegebene E-Mail-Adresse richten.
</pre>

{% endblock %}